<div id="system-settings-content">
    <p class="text-muted small">This information is for administrative purposes only.</p>
    <table class="table table-sm table-bordered">
        <thead class="table-light">
            <tr>
                <th style="width: 30%;">Setting Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in settings.items() %}
            <tr>
                <td><code>{{ key }}</code></td>
                <td><code>{{ value }}</code></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>